@keyframes example {
    0%   {background-color: rgba(255, 0, 0, 0.083);}
    25%  {background-color: rgba(255, 255, 0, 0.056);}
    50%  {background-color: rgba(0, 0, 255, 0.086);}
    100% {background-color: rgba(0, 128, 0, 0.1);}
  }
div.logo {
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 0;
    animation-iteration-count: infinite;

  }

  div.links {
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 0;
    animation-iteration-count: infinite;

  }


div.textanimation {
    animation-name: textanimation;
    animation-duration: 4s;
    animation-delay: 0;
    animation-iteration-count: 6s;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

@keyframes textanimation {
    0%   {
        background-color: rgba(255, 0, 0, 0.083);
        top: 0;
        left: 0;
        width:100px;
        }
    25%  {
        background-color: rgba(255, 255, 0, 0.056);
        top: 0;
        left: 200px;
        width: 250px;
    }
    50%  {
        bottom: 0;
        left: 300px;
        background-color: rgba(0, 0, 255, 0.086);

        width: 200px;
    }
    100% {
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(6, 36, 68, 0.092);
    }
  }

  div.images {
    animation-name: textanimation;
    animation-duration: 4s;
    animation-delay: 0;
    animation-iteration-count: 6s;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
  }




  .careers div {
    animation-name: textanimation;
    animation-duration: 8s;
    animation-delay: 0;
    animation-iteration-count: 1;
}
  @keyframes careers-animation {
    0%   {
        width:10%;
        }
    25%  {
       
        width: 15%;
    }
    50%  {
        
        width: 20%;
    }
    100% {
        width: 25%;
    }
  }
