header {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    position: fixed;
    background: linear-gradient(to left, rgb(2, 33, 53), rgba(0, 2, 2, 0.927) );
}
/* the logo of the page */
div.logo {
    width: 20%;
    padding: 1em;
    margin: 0;
    max-height: 15vh;
    font-size: medium;
    overflow: hidden;
}
.logo img {
    padding: 0;
    margin: 0;
    float: left;
}

.logo img:hover {
    cursor: pointer;
}
.logo p {
    padding: 0;
    margin: 0;
    margin-left: 2em;
    font-family: cursive;
    font-size: small;
    font-weight: bold;
    color: rgb(14, 176, 38);
}
.logo p:hover {
    text-decoration: underline;
    cursor: pointer;
}
  
/* The links part */
div.links {
    width: 80%;
    padding-left: 20%;
    top: 0;
}
.links  div {
    height: 10vh;
    float: left;
    padding: 2em;
}
.links div:hover {
    background-color: rgba(0, 0, 0, 0.423);
    border-bottom: 2px solid rgb(10, 95, 33);
}
.links a {
    text-decoration:none;
    color: rgb(255, 255, 255);
}
.links a p {
    padding: 0;
    margin: 0;
}
.links a:hover {
    color: rgb(16, 142, 176);
    
}
.links img {
    display: none;
    width: 1vw;
    height: 1vw;
    margin-right: 0.5em;
}

/*styling for screens less than 600 px  */
@media (max-width: 600px) {
    header {
        height: auto;
        overflow: hidden;
    }
    div.logo {
        display: none;
    }
    div.links {
        width: 100%;
        top: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .links a {
        display: block;
    }
    .links a p {
        display: none;
    }
    .links  div {
        margin: 0;
        padding: 1em;
        height: auto;
    }
    .links img {
        display: block;
        padding: 0;
        float: none;
        width: 5vw;
        height: 5vw;
    }
    
 }
 