.section-1 {
      display: grid;
      grid-template-rows: 90% 10%;
}

.desc {
      display: flex;
      align-items: center;
      justify-content: space-around;
}

.text-desc {
      width: 25%;
      height: auto;
      min-height: 50%;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-direction: column;
}

/* email button */
.btn-email {
      background-color: transparent;
      border: 2px solid rgb(6, 64, 129);
      color: rgb(6, 64, 129);
      padding: 0.7vw 2vw;
      border-radius: 0 10px;
}




.img-desc {
      width: 30%;
      height: 100%;
      overflow: hidden;
}

.img-desc img {
      width: 80%;
      height: auto;
}

.link-desc {
      width: 7.5%;
      height: 70%;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-direction: column;
}

.tech a {
      text-decoration: none;
}

.tech {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: larger;
}

@media screen and (max-width: 908px) {

      .desc {
            flex-direction: column;
      }

      .text-desc {
            width: 80%;
      }

      .link-desc {
            width: 15%;
            height: 80%;
            position: fixed;
            display: none;
            align-items: flex-start;
            justify-content: space-around;
            flex-direction: column;
      }

      .img-desc {
            width: 80%;
            overflow: hidden;
      }


      .tech {
            display: none;
      }
}














































::selection {
      background: rgba(23, 162, 184, 0.3);
}

.wrapper {
      max-width: 1200px;
      margin: auto;
      padding: 0 20px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
}

.wrapper .box {
      background: #fff;
      width: calc(33% - 10px);
      padding: 25px;
      border-radius: 3px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.wrapper .box i.quote {
      font-size: 20px;
      color: #17a2b8;
}

.wrapper .box .content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
}

.box .info .name {
      font-weight: 600;
      font-size: 17px;
}

.box .info .job {
      font-size: 16px;
      font-weight: 500;
      color: #17a2b8;
}

.box .info .stars {
      margin-top: 2px;
}

.box .info .stars i {
      color: #17a2b8;
}

.box .content .image {
      height: 75px;
      width: 75px;
      padding: 3px;
      background: #17a2b8;
      border-radius: 50%;
}

.content .image img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #fff;
}

.box:hover .content .image img {
      border-color: #fff;
}

@media (max-width: 1045px) {
      .wrapper .box {
            width: calc(50% - 10px);
            margin: 10px 0;
      }
}

@media (max-width: 702px) {
      .wrapper .box {
            width: 100%;
      }
}
