.logo {
      border: 2px solid rgb(7, 184, 169);
      padding: 0.21rem;
      border-radius: 50px;
      box-shadow: 0 0 0 2px rgba(1, 41, 35, 0.384);
}

main {
      min-height: 80vh;
}

section {
      min-height: 80vh;
}
