header {
     display: flex;
     align-items: center;
     justify-content: space-around;
     height: 15vh;
     overflow: hidden;
     width: 100%;
     margin: 0;
     transition: height 1s ease-in-out, position 0.2s ease-in-out;
}

.scrolled{
      position: fixed;
      height: 7.5vh;
      background-color: rgba(255, 255, 255, 0.596);
      box-shadow: 1px 4px  rgba(0, 0, 0, 0.021);
      backdrop-filter: blur(20px);
}

header .logo img {
      width: 40px;
      height: 40px;
}

/* the navigation links at the header */
header > nav {
      width: 50%;
      display: flex;
      align-items: baseline;
      justify-content: space-around;
}

header nav a {
      color: black;
      text-decoration: none;
}
header nav a:hover {
      color: blue;
      text-decoration: none;
}


/* the hire button */
.btn-hire {
      color: white;
      padding: 0.7vw 1.5vw;
      background-color: rgb(28, 155, 228);
      border-radius: 0 10px;
}

.btn-hire:hover {
      background-color: rgb(75, 104, 129);
}