@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  font-family: Inter, 'poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

body {
    margin: 0;
    padding: 0;
}

section {
  min-height: 80vh;
  margin: 2px;
}

button {
  background-color: none;
  border: none;
}

a:hover {
  color: blue;
}